features/.idea
training/KNN/.idea
training/SVM/.idea
training/SVM/*.pkl
training/SVM/*.npy
training/SVM/*.txt
training/SVM/*.pyc
training/RandomForest/.idea
training/RandomForest/*.pkl
training/RandomForest/*.npy
training/RandomForest/*.txt
training/RandomForest/*.pyc
list/*.txt
training/Visualize/*.txt