features/.idea
training/KNN/.idea
training/SVM/.idea
training/SVM/*.pkl
training/SVM/*.npy
training/SVM/*.txt
training/SVM/*.pyc
training/RandomForest/.idea
training/RandomForest/*.pkl
training/RandomForest/*.npy
training/RandomForest/*.txt
training/RandomForest/*.pyc
training/NeuralNetwork/.idea
training/NeuralNetwork/*.pkl
training/NeuralNetwork/*.npy
training/NeuralNetwork/*.txt
training/NeuralNetwork/*.pyc
training/Compare/.idea
training/Compare/*.pkl
training/Compare/*.npy
training/Compare/*.txt
training/Compare/*.pyc
list/*.txt
training/Visualize/*.txt
training/NeuralNetwork/*.xml